{% extends 'mvt/base.html' %}

{% block content %}

<div class="blog_cards">
    {% for cs in care_seekers %}
    {% if cs not in requested_cs %}
    <div class="blog_card_container">
        <a class="blog_cards_link" href="{% url 'care_seeker' cs.get_care_seeker_pk %}">
            <div class="blog_card_container_image_section">
                <img class="image_card" src="{{ cs.get_care_seeker_image }}" alt="not found">
            </div>
            <div class="blog_card_container_description">
                <p class="blog_card_author_name">
                    {{ cs.get_care_seeker_name }} 
                </p>
                <div class="blog_card_description">
                    <div class="blog_card_description_div">
                        <h4>Contact info</h4>
                        <p>email:{{ cs.get_care_seeker_email }}</p>
                        <p>phone no:{{ cs.get_care_seeker_contact }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}

<!-- <table>
    <tr>
        <th>name</th>
        <th>email</th>
        <th></th>
    </tr>
    {% for cs in care_seekers %}
    {% if cs not in requested_cs %}
    <tr>
        <td>{{ cs.care_seeker.get_username }}</td>
        <td>{{ cs.care_seeker.email }}</td>
        <td><a href="{{ cs.get_absolute_url }}">request</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table> -->